*,
::after,
::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.halfScreen {
  width: 100%;
  min-height: 100vh;
  background-color: red;
}
.bgChanger,
.SaveButton {
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  margin: 20px;
  background-color: black;
  color: #fff;
}
.color {
  color: #fff;
  background-color: black;
  width: 70px;
}
